#root {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.NavContainer{
  background-color: rgb(229, 233, 233);
  

 
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navbar ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2em;
  
}
.navbar a{
  text-decoration: none;
  color: rgb(10, 6, 6);
  transition: color 0.3s ease;
}

