body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #f9f9f9;
  background-image: url(/public/whitetable.jpg);
  background-size:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


#root {
  margin-top: 10px;
  width: 90%;
  height: 100vh;
  border: 4px solid rgb(196, 199, 198);
  box-shadow: rgb(127, 127, 127) 15px 5px 5px 5px;
  background-color: rgb(245, 245, 242);
  border-radius: 10px;
}
